<% provide(:title, "About") %>
		<h1>About Us</h1>
		<div class="jumbotron">
			This is the about page, to get real info about me go
			<a href="http://trevorknott.herokuapp.com" target="_blank">To my page here.</a>
		</div>
