<h1>Help Page</h1>
<p>This website was written using <a href="https://www.railstutorial.org/">Ruby on Rails</a>. <a href="http://www.programmableweb.com/apis/directory">Find API's</a>. <a href="https://www.ruby-toolbox.com/categories/Active_Record_Default_Values">Find Gems! </p>
